<!DOCTYPE html>
<html>
<head>
    <title>Corgi quiz battle</title>
    <link rel="icon" type="image/png" href="/static/images/corgi.png">
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

  <img src="/static/images/corgi.png" alt="Corgi" class="corgi-image">

  <div class="game-header">
    <div id="timer" class="timer">00</div>
    <div id="current-team" class="current-team">Ход команды </div>
  </div>

  <style>
.answers-grid {
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

.corgi-image {
    position: fixed;
    top: 60px;             
    left: 10px;
    width: 100px;
    height: 100px;
    z-index: 900;    
    filter: drop-shadow(0 0 10px rgba(255, 42, 42, 0.3));
}
  </style>

    <div class="container">
        <div class="card">
          <h2>Я игрок</h2>
          <input id="player_name" placeholder="Введи имя">
          <input id="pin" placeholder="Введи PIN">
          <button id="enter_game" onclick="enter_game()">Присоединиться</button>

        </div>
      
        <div class="card">
          <h2>Я ведущий</h2>
          <input id="host_theme" placeholder="Введите тему">
          <input id="host_num_questions" placeholder="Введите количество вопросов">
          <button id="start_game">Создать игру</button>

        </div>
      </div>

      <div id="lobby_preview" class="card lobby-main" style="margin-top: 24px; display: none;">

      </div>

      <div id="game_view" class="card game-card" style="margin-top: 24px; display: none;">

      </div>
      
    <script src="/static/js/script.js"></script>
</body>
</html>